In [3]:
import numpy as np
import pandas as pd

In [4]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],[1, 3, 5, 1, 3]],names=['cty', 'tenor'])

In [5]:
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)

In [6]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      1.479563  0.741695  0.053949  0.558424  1.814518
1      1.184124  0.478636  0.624478  0.622035  0.650530
2      0.738136 -1.652582 -0.353745  0.664949 -0.715593
3      1.351448 -0.058260  0.775633  0.842761 -0.632057

In [7]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [8]:
hier_df.groupby(level='tenor', axis=1).count()

tenor  1  3  5
0      2  2  1
1      2  2  1
2      2  2  1
3      2  2  1

In [14]:
frame = pd.DataFrame({'data1': np.random.randn(1000),'data2': np.random.randn(1000)})

In [21]:
quartiles = pd.cut(frame.data1, 4).value_counts()

In [22]:
quartiles

(-1.434, 0.353]     581
(0.353, 2.14]       333
(-3.228, -1.434]     70
(2.14, 3.927]        16
Name: data1, dtype: int64

In [23]:
pd.qcut(frame.data1, 4).value_counts()

(0.663, 3.927]      250
(0.0247, 0.663]     250
(-0.635, 0.0247]    250
(-3.222, -0.635]    250
Name: data1, dtype: int64

In [24]:
pd.cut(frame.data1, 4)   #返回的还是原来的，除非是value_counts(),但是见下面的描述是写有区间的。

0         (0.353, 2.14]
1       (-1.434, 0.353]
2         (0.353, 2.14]
3       (-1.434, 0.353]
4         (0.353, 2.14]
5         (0.353, 2.14]
6       (-1.434, 0.353]
7       (-1.434, 0.353]
8         (0.353, 2.14]
9      (-3.228, -1.434]
10        (0.353, 2.14]
11        (0.353, 2.14]
12        (0.353, 2.14]
13        (0.353, 2.14]
14        (0.353, 2.14]
15      (-1.434, 0.353]
16      (-1.434, 0.353]
17        (0.353, 2.14]
18        (0.353, 2.14]
19        (0.353, 2.14]
20      (-1.434, 0.353]
21     (-3.228, -1.434]
22      (-1.434, 0.353]
23      (-1.434, 0.353]
24        (0.353, 2.14]
25        (0.353, 2.14]
26      (-1.434, 0.353]
27      (-1.434, 0.353]
28      (-1.434, 0.353]
29        (0.353, 2.14]
             ...
970     (-1.434, 0.353]
971     (-1.434, 0.353]
972       (0.353, 2.14]
973     (-1.434, 0.353]
974     (-1.434, 0.353]
975       (0.353, 2.14]
976       (0.353, 2.14]
977     (-1.434, 0.353]
978     (-1.434, 0.353]
979    (-3.228, -1.434]
980       (0.353, 2.14]
981     (-1.434, 0.353]
982       (0.353, 2.14]
983       (0.353, 2.14]
984     (-1.434, 0.353]
985       (0.353, 2.14]
986     (-1.434, 0.353]
987     (-1.434, 0.353]
988     (-1.434, 0.353]
989       (0.353, 2.14]
990     (-1.434, 0.353]
991       (0.353, 2.14]
992     (-1.434, 0.353]
993       (0.353, 2.14]
994     (-1.434, 0.353]
995     (-1.434, 0.353]
996     (-1.434, 0.353]
997     (-1.434, 0.353]
998       (0.353, 2.14]
999       (0.353, 2.14]
Name: data1, Length: 1000, dtype: category
Categories (4, interval[float64]): [(-3.228, -1.434] < (-1.434, 0.353] < (0.353, 2.14] < (2.14, 3.927]]

In [25]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(),'count': group.count(), 'mean': group.mean()}

In [29]:
quartiles_ = pd.cut(frame.data1, 4)

In [30]:
grouped = frame.data2.groupby(quartiles_)

In [31]:
grouped

In [32]:
grouped.apply(get_stats)

data1
(-3.228, -1.434]  count     70.000000
                  max        2.012740
                  mean       0.000390
                  min       -1.781939
(-1.434, 0.353]   count    581.000000
                  max        3.519033
                  mean      -0.010956
                  min       -3.069386
(0.353, 2.14]     count    333.000000
                  max        3.034122
                  mean      -0.076066
                  min       -2.532841
(2.14, 3.927]     count     16.000000
                  max        1.210667
                  mean       0.129529
                  min       -2.792519
Name: data2, dtype: float64

In [33]:
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-3.228, -1.434]   70.0  2.012740  0.000390 -1.781939
(-1.434, 0.353]   581.0  3.519033 -0.010956 -3.069386
(0.353, 2.14]     333.0  3.034122 -0.076066 -2.532841
(2.14, 3.927]      16.0  1.210667  0.129529 -2.792519

In [34]:
grouping = pd.qcut(frame.data1, 10, labels=False)

In [35]:
grouping

0      7
1      3
2      8
3      2
4      8
5      8
6      4
7      4
8      9
9      0
10     7
11     7
12     8
13     9
14     8
15     3
16     5
17     8
18     7
19     9
20     2
21     0
22     5
23     2
24     8
25     8
26     2
27     1
28     2
29     8
      ..
970    4
971    3
972    7
973    1
974    2
975    9
976    9
977    5
978    1
979    0
980    7
981    6
982    7
983    7
984    3
985    8
986    3
987    1
988    3
989    6
990    1
991    6
992    4
993    7
994    1
995    1
996    4
997    1
998    7
999    7
Name: data1, Length: 1000, dtype: int64

In [38]:
grouping_ = pd.qcut(frame.data1, 10)

In [39]:
grouping_

0        (0.493, 0.829]
1      (-0.482, -0.221]
2         (0.829, 1.22]
3        (-0.8, -0.482]
4         (0.829, 1.22]
5         (0.829, 1.22]
6      (-0.221, 0.0247]
7      (-0.221, 0.0247]
8         (1.22, 3.927]
9      (-3.222, -1.215]
10       (0.493, 0.829]
11       (0.493, 0.829]
12        (0.829, 1.22]
13        (1.22, 3.927]
14        (0.829, 1.22]
15     (-0.482, -0.221]
16      (0.0247, 0.228]
17        (0.829, 1.22]
18       (0.493, 0.829]
19        (1.22, 3.927]
20       (-0.8, -0.482]
21     (-3.222, -1.215]
22      (0.0247, 0.228]
23       (-0.8, -0.482]
24        (0.829, 1.22]
25        (0.829, 1.22]
26       (-0.8, -0.482]
27       (-1.215, -0.8]
28       (-0.8, -0.482]
29        (0.829, 1.22]
             ...
970    (-0.221, 0.0247]
971    (-0.482, -0.221]
972      (0.493, 0.829]
973      (-1.215, -0.8]
974      (-0.8, -0.482]
975       (1.22, 3.927]
976       (1.22, 3.927]
977     (0.0247, 0.228]
978      (-1.215, -0.8]
979    (-3.222, -1.215]
980      (0.493, 0.829]
981      (0.228, 0.493]
982      (0.493, 0.829]
983      (0.493, 0.829]
984    (-0.482, -0.221]
985       (0.829, 1.22]
986    (-0.482, -0.221]
987      (-1.215, -0.8]
988    (-0.482, -0.221]
989      (0.228, 0.493]
990      (-1.215, -0.8]
991      (0.228, 0.493]
992    (-0.221, 0.0247]
993      (0.493, 0.829]
994      (-1.215, -0.8]
995      (-1.215, -0.8]
996    (-0.221, 0.0247]
997      (-1.215, -0.8]
998      (0.493, 0.829]
999      (0.493, 0.829]
Name: data1, Length: 1000, dtype: category
Categories (10, interval[float64]): [(-3.222, -1.215] < (-1.215, -0.8] < (-0.8, -0.482] < (-0.482, -0.221] ... (0.228, 0.493] < (0.493, 0.829] < (0.829, 1.22] < (1.22, 3.927]]

In [40]:
states = ['Ohio', 'New York', 'Vermont', 'Florida','Oregon', 'Nevada', 'California', 'Idaho']

In [41]:
group_key = ['East'] * 4 + ['West'] * 4

In [42]:
data = pd.Series(np.random.randn(8), index=states)

In [43]:
data

Ohio         -0.519585
New York      1.143393
Vermont      -0.463172
Florida       1.602359
Oregon       -2.457285
Nevada       -0.227450
California    0.719948
Idaho         1.124856
dtype: float64

In [44]:
data[['Vermont', 'Nevada', 'Idaho']]

Vermont   -0.463172
Nevada    -0.227450
Idaho      1.124856
dtype: float64

In [47]:
data['Vermont', 'Nevada', 'Idaho']

KeyError: ('Vermont', 'Nevada', 'Idaho')

In [48]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan

In [49]:
data

Ohio         -0.519585
New York      1.143393
Vermont            NaN
Florida       1.602359
Oregon       -2.457285
Nevada             NaN
California    0.719948
Idaho              NaN
dtype: float64

In [50]:
fill_values = {'East': 0.5, 'West': -1}

In [52]:
fill_func = lambda g: g.fillna(fill_values[g.name])

In [53]:
data.groupby(group_key).apply(fill_func)

Ohio         -0.519585
New York      1.143393
Vermont       0.500000
Florida       1.602359
Oregon       -2.457285
Nevada       -1.000000
California    0.719948
Idaho        -1.000000
dtype: float64

In [59]:
fill_mean = lambda g: g.fillna(g.mean())

In [60]:
data.groupby(group_key).apply(fill_mean)

Ohio         -0.519585
New York      1.143393
Vermont       0.742056
Florida       1.602359
Oregon       -2.457285
Nevada       -0.868668
California    0.719948
Idaho        -0.868668
dtype: float64

In [61]:
group_key

['East', 'East', 'East', 'East', 'West', 'West', 'West', 'West']

In [62]:
data.groupby(group_key).mean()

East    0.742056
West   -0.868668
dtype: float64

In [67]:
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['A'] + list(range(2, 11)) + ['J', 'K', 'Q']
cards = []

In [68]:
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)   #循环，先是最外suit，选中一个H，进入内部，内循环是num，每个num都和suit的第一个H进行完后跳出小循环，进入suit第二个S

In [69]:
cards

['AH',
 '2H',
 '3H',
 '4H',
 '5H',
 '6H',
 '7H',
 '8H',
 '9H',
 '10H',
 'JH',
 'KH',
 'QH',
 'AS',
 '2S',
 '3S',
 '4S',
 '5S',
 '6S',
 '7S',
 '8S',
 '9S',
 '10S',
 'JS',
 'KS',
 'QS',
 'AC',
 '2C',
 '3C',
 '4C',
 '5C',
 '6C',
 '7C',
 '8C',
 '9C',
 '10C',
 'JC',
 'KC',
 'QC',
 'AD',
 '2D',
 '3D',
 '4D',
 '5D',
 '6D',
 '7D',
 '8D',
 '9D',
 '10D',
 'JD',
 'KD',
 'QD']

In [70]:
def draw(deck, n=5):
    return deck.sample(n)

In [73]:
deck = pd.Series(card_val, index=cards)

In [74]:
deck

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
AS      1
2S      2
3S      3
4S      4
5S      5
6S      6
7S      7
8S      8
9S      9
10S    10
JS     10
KS     10
QS     10
AC      1
2C      2
3C      3
4C      4
5C      5
6C      6
7C      7
8C      8
9C      9
10C    10
JC     10
KC     10
QC     10
AD      1
2D      2
3D      3
4D      4
5D      5
6D      6
7D      7
8D      8
9D      9
10D    10
JD     10
KD     10
QD     10
dtype: int64

In [84]:
draw(deck)

QD    10
JS    10
AH     1
9C     9
3S     3
dtype: int64

In [85]:
deck.head()

AH    1
2H    2
3H    3
4H    4
5H    5
dtype: int64

In [79]:
get_suit = lambda card: card[-1]

In [80]:
deck.groupby(get_suit).apply(draw, n=2)     #If by is a function, it’s called on each value of the object’s index.  见pandas文档

C  JC     10
   2C      2
D  KD     10
   2D      2
H  10H    10
   3H      3
S  5S      5
   9S      9
dtype: int64