In [1]:
import pandas as pd

In [21]:
q=range(10)

In [22]:
q

range(0, 10)

In [23]:
w=['a','b']*5

In [24]:
w

['a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b']

In [46]:
e=zip(q,w)

In [47]:
r=list(e)

In [48]:
r

[(0, 'a'),
 (1, 'b'),
 (2, 'a'),
 (3, 'b'),
 (4, 'a'),
 (5, 'b'),
 (6, 'a'),
 (7, 'b'),
 (8, 'a'),
 (9, 'b')]

In [49]:
a=pd.DataFrame(r)

In [50]:
a

   0  1
0  0  a
1  1  b
2  2  a
3  3  b
4  4  a
5  5  b
6  6  a
7  7  b
8  8  a
9  9  b

In [55]:
p=a+a

In [56]:
p

    0   1
0   0  aa
1   2  bb
2   4  aa
3   6  bb
4   8  aa
5  10  bb
6  12  aa
7  14  bb
8  16  aa
9  18  bb

In [65]:
p.rename(columns={0:'a',1:'b'},inplace=True)

In [66]:
p

    a   b
0   0  aa
1   2  bb
2   4  aa
3   6  bb
4   8  aa
5  10  bb
6  12  aa
7  14  bb
8  16  aa
9  18  bb

In [70]:
m=pd.DataFrame({'a':[2,3,4,5,6,7,8,9,10,11],'c':[9,8,7,6,5,4,3,2,1,0]})

In [71]:
m

    a  c
0   2  9
1   3  8
2   4  7
3   5  6
4   6  5
5   7  4
6   8  3
7   9  2
8  10  1
9  11  0

In [81]:
_=p[['a']]+m[['a']]

In [92]:
__=pd.DataFrame({'a':_['a'],'b':p['b'],'c':m['c']})

In [93]:
__

    a   b  c
0   2  aa  9
1   5  bb  8
2   8  aa  7
3  11  bb  6
4  14  aa  5
5  17  bb  4
6  20  aa  3
7  23  bb  2
8  26  aa  1
9  29  bb  0