In [1]:
import pymysql

In [4]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='root',db='mysql')  #注意ip地址要引号，port不要引号

In [5]:
print(conn)

<pymysql.connections.Connection object at 0x037B94B0>

In [7]:
cursor = conn.cursor()

In [8]:
print(cursor)

<pymysql.cursors.Cursor object at 0x037B99B0>

In [13]:
sql = "select * from user;"              #conn已经连接到到数据库， 相当于use mysql

In [14]:
cursor.execute(sql)

5

In [15]:
print("cursor.excute:",cursor.rowcount)

cursor.excute: 5

In [17]:
conn_2 = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='root',db='information_schema')

In [28]:
cursor_2 = conn_2.cursor()      #不要忘了加() 否则是一个函数      初始化指针  被连接上的数据库.cursor()  并且返回的是指针

In [29]:
show_tables = "show tables;"

In [42]:
sql_2 = "SELECT * FROM TRIGGERS;"

In [43]:
cursor_2.execute(show_tables)      #只要执行过来            对该初始化指针进行执行操作，而不是对数据库操作，不用赋值，操作过后指针就被改变了

61

In [46]:
for i in cursor_2:                  #cursor_2 而不是 cursor_2.execute(show_tables)       操作过后的指针可以看成iterator，
    print(i)

('CHARACTER_SETS',)
('COLLATIONS',)
('COLLATION_CHARACTER_SET_APPLICABILITY',)
('COLUMNS',)
('COLUMN_PRIVILEGES',)
('ENGINES',)
('EVENTS',)
('FILES',)
('GLOBAL_STATUS',)
('GLOBAL_VARIABLES',)
('KEY_COLUMN_USAGE',)
('OPTIMIZER_TRACE',)
('PARAMETERS',)
('PARTITIONS',)
('PLUGINS',)
('PROCESSLIST',)
('PROFILING',)
('REFERENTIAL_CONSTRAINTS',)
('ROUTINES',)
('SCHEMATA',)
('SCHEMA_PRIVILEGES',)
('SESSION_STATUS',)
('SESSION_VARIABLES',)
('STATISTICS',)
('TABLES',)
('TABLESPACES',)
('TABLE_CONSTRAINTS',)
('TABLE_PRIVILEGES',)
('TRIGGERS',)
('USER_PRIVILEGES',)
('VIEWS',)
('INNODB_LOCKS',)
('INNODB_TRX',)
('INNODB_SYS_DATAFILES',)
('INNODB_FT_CONFIG',)
('INNODB_SYS_VIRTUAL',)
('INNODB_CMP',)
('INNODB_FT_BEING_DELETED',)
('INNODB_CMP_RESET',)
('INNODB_CMP_PER_INDEX',)
('INNODB_CMPMEM_RESET',)
('INNODB_FT_DELETED',)
('INNODB_BUFFER_PAGE_LRU',)
('INNODB_LOCK_WAITS',)
('INNODB_TEMP_TABLE_INFO',)
('INNODB_SYS_INDEXES',)
('INNODB_SYS_TABLES',)
('INNODB_SYS_FIELDS',)
('INNODB_CMP_PER_INDEX_RESET',)
('INNODB_BUFFER_PAGE',)
('INNODB_FT_DEFAULT_STOPWORD',)
('INNODB_FT_INDEX_TABLE',)
('INNODB_FT_INDEX_CACHE',)
('INNODB_SYS_TABLESPACES',)
('INNODB_METRICS',)
('INNODB_SYS_FOREIGN_COLS',)
('INNODB_CMPMEM',)
('INNODB_BUFFER_POOL_STATS',)
('INNODB_SYS_COLUMNS',)
('INNODB_SYS_FOREIGN',)
('INNODB_SYS_TABLESTATS',)

In [48]:
cursor_2

In [52]:
for i in cursor_2:                        #再进行操作就不行了，因为指针已经在末端了
    print(i)

In [54]:
cursor_3=conn_2.cursor()

In [60]:
cursor_3.execute(sql_2)

2

In [61]:
for i in cursor_3:
    print(i)

('def', 'sys', 'sys_config_insert_set_user', 'INSERT', 'def', 'sys', 'sys_config', 1, None, 'BEGIN IF @sys.ignore_sys_config_triggers != true AND NEW.set_by IS NULL THEN SET NEW.set_by = USER(); END IF; END', 'ROW', 'BEFORE', None, None, 'OLD', 'NEW', datetime.datetime(2018, 9, 11, 8, 39, 32, 930000), '', 'mysql.sys@localhost', 'utf8', 'utf8_general_ci', 'utf8_general_ci')
('def', 'sys', 'sys_config_update_set_user', 'UPDATE', 'def', 'sys', 'sys_config', 1, None, 'BEGIN IF @sys.ignore_sys_config_triggers != true AND NEW.set_by IS NULL THEN SET NEW.set_by = USER(); END IF; END', 'ROW', 'BEFORE', None, None, 'OLD', 'NEW', datetime.datetime(2018, 9, 11, 8, 39, 33), '', 'mysql.sys@localhost', 'utf8', 'utf8_general_ci', 'utf8_general_ci')

In [62]:
for i in cursor_3:
    print(i)                      #再执行就没了

In [63]:
cursor_4=conn_2.cursor()

In [64]:
cursor_3.execute(sql_2)

2

In [65]:
z=[]
for i in cursor_3:
    z.append(i)

In [66]:
z

[('def',
  'sys',
  'sys_config_insert_set_user',
  'INSERT',
  'def',
  'sys',
  'sys_config',
  1,
  None,
  'BEGIN IF @sys.ignore_sys_config_triggers != true AND NEW.set_by IS NULL THEN SET NEW.set_by = USER(); END IF; END',
  'ROW',
  'BEFORE',
  None,
  None,
  'OLD',
  'NEW',
  datetime.datetime(2018, 9, 11, 8, 39, 32, 930000),
  '',
  'mysql.sys@localhost',
  'utf8',
  'utf8_general_ci',
  'utf8_general_ci'),
 ('def',
  'sys',
  'sys_config_update_set_user',
  'UPDATE',
  'def',
  'sys',
  'sys_config',
  1,
  None,
  'BEGIN IF @sys.ignore_sys_config_triggers != true AND NEW.set_by IS NULL THEN SET NEW.set_by = USER(); END IF; END',
  'ROW',
  'BEFORE',
  None,
  None,
  'OLD',
  'NEW',
  datetime.datetime(2018, 9, 11, 8, 39, 33),
  '',
  'mysql.sys@localhost',
  'utf8',
  'utf8_general_ci',
  'utf8_general_ci')]

In [67]:
import pymysql

In [70]:
connect = pymysql.connect(host='127.0.0.1',port=3306,user='root',passwd='root',db='mysql')

In [72]:
curs = connect.cursor()            #数据库层面的指针，还未进入某一个数据库

In [73]:
#创建

In [74]:
build = 'CREATE DATABASE test_created_by_python'

In [75]:
curs.execute(build)

1

In [76]:
show_database = 'SHOW DATABASES'

In [77]:
curs.execute(show_database)

6

In [79]:
for i in curs:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test_created_by_dos',)
('test_created_by_python',)

In [111]:
create_table = "create table students(id int auto_increment primary key,sname varchar(10) not null);"   #每列用逗号分开

In [112]:
curs.execute(create_table)

InternalError: (1050, "Table 'students' already exists")

In [90]:
curs.execute('show databases')

6

In [91]:
for i in curs:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test_created_by_dos',)
('test_created_by_python',)

In [92]:
curs.execute('use test_created_by_python')

0

In [93]:
curs.execute('show tables')

0

In [96]:
curs.execute(create_table)

0

In [97]:
curs.execute('show tables')

1

In [98]:
for i in curs:
    print(i)

('students',)

In [99]:
curs.execute('select * from students')

0

In [101]:
curs.execute('alter table students add birthday datetime;')

0

1

In [105]:
curs.execute('show tables')

1

In [106]:
curs.execute('use test_created_by_python') #进入数据库

0

In [107]:
#curs.execute('insert into 表名(列1,...) values(值1,...),(值1,...)')

In [122]:
curs.execute('INSERT INTO students VALUES(123,'asd'),(456,'qwe');')

SyntaxError: invalid syntax (<ipython-input-122-adf7eb7e810c>, line 1)

In [113]:
create_table_2 = "create table teacher(age int ,gender varchar(10) not null);"

In [114]:
curs_2 = connect.cursor()

In [125]:
curs_2.execute('use test_created_by_python;')

0

In [126]:
curs_2.execute(create_table_2)

InternalError: (1050, "Table 'teacher' already exists")

In [127]:
curs_2.execute('INSERT INTO teacher VALUES (35,'Male'),(46,'Female');')    #千万不要忘记分号，不然总是无效语法

SyntaxError: invalid syntax (<ipython-input-127-15512de933e7>, line 1)

In [128]:
curs_2.execute('show tables')

2

In [129]:
for i in curs_2:
    print(i)

('students',)
('teacher',)

In [130]:
curs_2.execute('SELECT * FROM teacher')

0